@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400|Roboto+Slab:300,400');

body {
  background: url("../img/escheresque_ste.png");
}

img {
    width:50%;
}

body {
    padding: 1em;
}

* {
    color: #eeeeee;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

article {
    display: inline-block;
    min-height: 16em;
}

aside p {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0em;
    min-width: 16em;
}

h1, h2, h3 {
    display: inline;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.2em;
    font-weight: 400;
}

#logo {
    width:10%;
}

#mike_resume {
    float: left;
    width: 12em;
}

aside {
    display: block;
    position: relative;
}

aside p {
    display: inline;
    position: absolute;
    min-width: 32em;
}

#navigation {
    padding-left: 0em;
}

#navigation li {
    list-style: none;
    display: inline;
    padding-right: .5em;
}

#navigation li a {
    text-decoration: none;
}

hr {
    margin: 0em;
    padding: 0em;
    width: 100%;
}

article h3 {
    display: inline;
}

#location {
    justify-content: center;
    display: inline;
    margin: .5em;
}

#dates {
    justify-content: flex-end;
    display: inline;
    margin: .5em;
}

#intro {
    max-height: 100%;
}

ul {
    margin-top: .25em;
}

h4 {
    margin: 0em;
}

nav ul li a {
    font-size: 1.5em;
}

nav ul li a:hover {
    color: #1b5ead;
}

nav ul li a:active {
    color: #e48a2a;
}