@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400|Roboto+Slab:300,400');

body {
  background: url("../img/escheresque_ste.png");
}

* {
    color: #eeeeee;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:25.75em) {
    aside {
        padding-top: 10em;
    }
}

@media screen and (max-width:25.625em) {
    aside {
        padding-top: 15em;
    }
}

@media screen and (max-width: 3.5625em) {
    aside {
        padding-top: 17em;
    }
}

@media screen and (min-width: 25.8125em) {
    aside {
        padding-top: 8em;
    }
}

body article, body aside {
    padding-left: 10%;
    padding-right: 10%;
}

.container {
    display: flex;
    justify-content: space-between;
    height: auto;
    flex-wrap: wrap;
}

body {
    margin-bottom: 10em;
}

body article {
    display: inline-block;
    min-height: 16em;
/*    padding: 1em;*/
}

aside p {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0em;
    min-width: 16em;
}

h1, h2, h3 {
    display: inline;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.2em;
    font-weight: 400;
}

#logo {
    width:10%;
}

 aside {
/*    padding-top: 8em;*/
    padding-left: 1em;
    display: block;
}   

aside p {
    display: inline;
}

#navigation li {
    list-style: none;
    display: inline;
    padding-right: .5em;
    padding-left: .5em;
    padding-top: 0em;
}

#navigation li a {
    text-decoration: none;
}

hr {
    margin: 0em;
    padding: 0em;
    width: 100%;
}

article h3 {
    display: inline;
}

article li {
    padding-left: 1em;
}

#intro {
    display: flex;
    flex-wrap: nowrap;
}

article ul {
    margin-top: .25em;
    padding-left: 1em;
}

h4, h3 {
    margin: 0em;
}

nav ul li a {
    font-size: 1.5em;
}

nav ul li a:hover {
    color: #1b5ead;
}

nav ul li a:active {
    color: #e48a2a;
}

#mike_resume {
    display: flex;
    flex: 0 0 auto;
    width: 25%;
    height: 25%;
    max-width: 10em;
}

nav {
    background-image: url("../img/binding_dark.png");
    text-align: center;
    width: 100%;
    position: fixed;
}

nav h1 {
    font-size: 4em;
    padding-bottom: 0em;
}